{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<h1>Mon panier</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Voyage</th>
				<th>Planning</th>
				<th>Quantité</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for achat in produitsInCart %}
				<tr>
					<td>{{ achat.id }}</td>
					<td>{{ achat.produit }}</td>
					<td>Du
						{{ achat.planning.DateDepart | date("d/m/Y") }}
						- au
						{{achat.planning.DateFin | date("d/m/Y")}}</td>
					<td>{{achat.quantite}}</td>
					<td>{{ achat.prix }} €</td>
					<td>
						{{ include('achat/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucun achat fait</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    <button>Passer la commande</button>


	<a href="{{ path('app_compte') }}">Retour</a>

{% endblock %}
