{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}

	<link rel='stylesheet' type='text/css' href="/css/register.css">

	<div class='mini-nav'>
		<a class='nav-link' href='{{path('app_home')}}'>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewbox="0 0 16 16">
				<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
			</svg>
		</a>
	</div>
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}


	<div class='row gx-0 screen-size'>
		<div class='image-container col-6 p-0'>
			<img src='https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' alt=''>
		</div>
		<div class='form-container px-4 col-6'>
			<form action="{{ path('app_login') }}" method="post">
				<h2>
					Envie de repartir ?
				</h2>
				{% if error %}
					{% if error.message == 'Bad credentials.' %}
						<span class='alert alert-warning'>
							E-mail incorrect.
						</span>
					{% else %}
						<span class='alert alert-danger'>
							Mot de passe incorrect.
						</span>
					{% endif %}
				{% endif %}

				<label for="username">Email</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}">

				<label for="password">Mot de passe</label>
				<input type="password" id="password" name="_password">

				<button type="submit" class='btn'>Connexion</button>
				<p>Pas de compte ?
					<a href='{{path('app_register')}}'>
						Inscrivez-vous !</a>
				</p>
			</form>
		</div>
	</div>


{% endblock %}
