{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}

	<style>
		img {
			width: 640px;
			height: 400px;
			object-fit: cover;
		}
	</style>
	<p>
		{% for categorie in produit.categorie %}
			{{categorie}}
		{% endfor %}
	</p>


	<h1>{{produit.title}}</h1>
	<h2>
		{{produit.introduction}}</h2>
	<div><img src='{{produit.image}}' alt=' image de {{produit.title}}'>
	</div>
	<p>{{produit.description}}</p>
	<p>
		<b>Au programme :</b>
		<br>
		{{produit.descriptionProgramme}}
	</p>

	{% if produit.planning|length > 0 %}
		<form method="GET" action="{{ path('app_programmes_addCart', {'id': produit.id}) }}">
			<select name="planning">
				{% for planning in produit.planning|filter(planning => planning.quantite > 0) %}
					{# Affiche uniquement les plannings qui ont encore au moins 1 place restante #}
					<option value="{{planning.id}}">{{planning.DateDepart|date("d/m/Y") }}
						au
						{{planning.DateFin|date("d/m/Y")}}
						-
						{{planning.prix | number_format(0,',',' ')}}
						€ (
						{% if planning.quantite > 1 %}
							{{planning.quantite}}
							places restantes
						{% else %}
							place restante
						{% endif %})
						{# accord au singulier s'il n'y a qu'une place restante #}

					</option>
				{% endfor %}
			</select>
			<select name="quantite">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>
			<input type="submit" value="Ajouter au panier">
		</form>
	{% else %}
		<p class='alert'>Aucun planning disponible</p>
	{% endif %}

	<a href="{{ path('app_programmes') }}">Retour</a>
{% endblock %}
