{% extends 'base.html.twig' %}

{% block title %}Achat
{% endblock %}

{% block body %}
	<h1>Achat</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ achat.id }}</td>
			</tr>
			<tr>
				<th>Utilisateur</th>
				<td>{{ achat.user }}</td>
			</tr>
			<tr>
				<th>Voyage</th>
				<td>{{ achat.produit }}</td>
			</tr>
			<tr>
				<th>Date de départ</th>
				<td>{{achat.planning.dateDepart | date("d/m/Y")}}</td>
			</tr>
			<tr>
				<th>Date de fin</th>
				<td>{{ achat.planning.dateFin | date("d/m/Y") }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ achat.prix|number_format(0, ',', ' ') }} €</td>
			</tr>

		</tbody>
	</table>

	<a href="{{ path('app_compte_achat') }}">Retour</a>
{% endblock %}
